@import "~include-media/dist/include-media";
// $breakpoints: (small: 376px, medium: 768px, large: 1024px, huge: 1200px);

.wrapper{
    border: 1px solid red;
    width : 1200px;
    margin : 0 auto;

    @include media("<1600px"){
        width : 700px;
    }
    @include media("<1000px"){
        width : 400px;
    }
}