@import "~include-media/dist/include-media";
// $breakpoints: (small: 376px, medium: 768px, large: 1024px, huge: 1200px);

.wrapper{
    display :flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-top : 3rem;
    padding-bottom : 3rem;

    .content{
        width : 800px;
        margin : 0 auto;
    
        @include media("<1610px"){
            width : 700px;
        }
        @include media("<1000px"){
            width : 400px;
        }
    }
}