@import "~include-media/dist/include-media";

.wrapper{
    display :flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-top : 3rem;
    padding-bottom : 3rem;

    .content{
        width : 800px;
        margin : 0 auto;
        @include media("<1200px"){
            width : 700px;
        }
    }
}