.wrapper{
    background-color: #FAFAFA;
    padding : 1px;
    margin-top : 1rem;

    .nickname{
        margin-top : 1rem;
        margin-bottom : 2rem;
        margin-left: 2rem;
        font-size : 1.1rem;
    }
    textarea{
        resize : none;
        margin-left: 2rem;
        margin-right : 2rem;
        width : 90%;
        height : 7rem;
    }
    .send-btn{
        margin-top : 1.3rem;
        box-sizing : border-box;
        display : flex;
        justify-content: flex-end;

        div{
            margin-right : 2.5rem;
            margin-bottom : 1rem;
            border-radius : 10%;
            padding-top : 0.3rem;
            padding-bottom : 0.3rem;
            padding-left: 0.8rem;
            padding-right: 0.8rem;
            background-color : rgb(167, 167, 223);
            color: white;
            cursor: pointer;

            &:hover{
                color : rgb(235, 232, 232);
            }
        }
    }

    .notlogin{
        margin : 5rem;
        text-align: center;
    }
}