@import "~include-media/dist/include-media";

body {
    margin : 0;
    box-sizing: border-box;
}

.screen-mask{
    position : absolute;
    top : 0;
    left: 0;
    right : 0;
    bottom : 0;

    &.responsive{
        z-index : 3;
    }
}

.wrapper{
    display: flex;
    
    .header{
        width : 25.1%;
        height:100%;

        @include media("<1200px"){
            width : 100%;
            height: 100%;
        }
    }
    .main{
        width : 74.9%;
        height:100%;
        z-index: 2;
    }

    @include media("<1200px"){
        flex-direction: column;
        align-items: center;
    }
}